@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');

:root {
    --main-color:#444444;
    --accent-color: #ff5d55;
    --yellow-color:#fec63d;
    font-family: 'Open Sans Condensed', sans-serif;
     scroll-behavior: smooth; /*плавна прокрутка*/
}

body, p{
    
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a{text-decoration: none;}

header, .content, #home-menu{
    max-width: 1024px;
    margin: 0 auto;
}
header,  #home-our-advantages, footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-brand p{
    display: block;
    color:var(--accent-color);
    font-weight: 700;
    font-size: 13px;
    margin-left:10px;
    margin-top: -10px;}

.phone{
    display: none;
    justify-content:space-between;
}
.phone div{
    font-weight: 700;
    font-size: 1rem;
    margin-left: 10px;
}
@media (min-width: 850px) {
    .phone{
        display: flex;
    }
}

/* Style navigation menu links */
.nav-item a {
  color:var(--main-color);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-item a:hover,
.nav-item.active {
   background-color:var(--accent-color);
   
}
@media (max-width: 991px) {
    .navbar-collapse{
        background-color: #fff;
        position: absolute;
        padding: 0;
        top:122px;
        animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        z-index: 1000;
    }
    .navbar-collapse .nav-link{
        padding: 8px 15px;
        text-align: right;
    }
}

/*slider*/
.carousel .carousel-item .carousel-caption{
    top:50px;
    left:100px;
    bottom: auto;
    right: auto;
}
.carousel .carousel-item .carousel-caption h5 {
    background-color: var(--accent-color);
    transform: skew(-20deg);
    font-weight: 700;
    padding: 15px 25px;
}
.carousel .carousel-item .carousel-caption p {
    font-size: 4rem;
    font-weight: 800;
    
}
.banner-content #banner-text{
    color: var(--yellow-color);
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    top:180px;
    left: 100px;
}
#home-menu .row {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
}

@media (min-width: 768px){
    #home-menu .col-md-4{
        flex:0 0 33%;}
}
#home-menu #main-menu {
    background-image: url(../img/index-01-566x401.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    color:#fff;
    padding: 15px;
    text-align: center;
}
#home-menu #main-menu h2,
#home-menu #home-action h2,
#home-menu #home-price h2{
    font-size: 1.8em;
    font-style: italic;
    font-weight: 800;
    margin: 0;
}
#home-menu #main-menu h2 a,
#home-menu #home-action h2 a,
#home-menu #home-price h2 a{
    color:#fff;}

#home-menu #home-action{
    background-image: url(../img/index-02-566x401.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin: 25px 0; 
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    color:#fff;
    padding: 15px 5px;
    text-align: center;
}
#home-menu #home-price{
    background-image: url(../img/index-03-566x401.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin: 25px 0; 
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    color:#fff;
    padding: 15px 5px;
    text-align: center;
}

#free-order{
    background: url(../img/parallax-06.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    margin: 25px auto; 
    color:#fff;
    padding: 15px 5px;
    text-align: center;
}
#free-order h2{
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    margin-top: 25px;
}
#free-order p{
    font-size: 4em;
    font-weight: 800;
    font-style: italic;
}
#free-order .action-price{
    color:var(--yellow-color);
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
}
@media (max-width: 768px){
    #free-order h2{
        font-size: 1em;
    }
    #free-order p{
        font-size: 2em;
    }
    #free-order .action-price{
        font-size: 3em;
    }
}
#ourMenu{
    background-color: #f2f3f8;
    padding: 25px 0;
}
#ourMenu h3{
    font-size: 42px;
}
.range {
    position: relative;
    max-width: 351px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 74px;
}
.range .caption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 77px;
    z-index: 1;
    text-align: left;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}
.range .caption:before {
    position: absolute;
    top: 15px;
    bottom: -30px;
    right: -10px;
    left: -10px;
    content: "";
    display: inline-block;
    background-color: #ec5353;
    z-index: -1;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    transition: 350ms ease-in;
}


.range:hover .caption:before {
	top: 0;
	-webkit-transform: skewY(0deg);
	transform: skewY(0deg);
}

.range .caption .title {
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: 450ms ease-in-out;
}
.range:hover .caption .title {
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.range .caption .title a{
    color: #fff;
    font-weight: 800;
}
#home-our-advantages .row>div{
    margin: 0px auto;
}
@media (max-width: 767px){
    #home-our-advantages .cell-sm-6{
        max-width: 50%;
    }
}

@media (min-width: 768px){
    #home-our-advantages .cell-md-3{
        max-width: 25%;
    }
}
#home-our-advantages h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 25px auto;
}
#home-our-advantages hr{
    background-color: var(--yellow-color);
    margin-top: 17px;
    margin-bottom: 16px;
    width: 36px;
    height: 4px;
}
#home-our-advantages p{
    color: #9b9b9b;
    font-size: 1em;
}
footer{
    background-color: #23201e;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
footer .row{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}